@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: hsl(0, 0%, 9%);
  --pattern-fg: rgba(80, 79, 90, 0.158);
}

html,
body {
  height: 100%;
  width: 100%;
}

/* Using vainal css */
/* .animate-me{
  animation: marquee 8s linear infinite;
}
@keyframes marquee {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(-100%);
  }
} */

@theme {
  --animate-marquee: marquee 5s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(100%);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
