@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Prata&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
}

.container{
  padding: 12px 16px;
  max-width: 1060px;
  margin: 0 auto;
  height: 100vh; 

  border-left: 1px;
  border-right: 1px;
  border-bottom: 0px;
  border-top: 0px;
  border-style: solid ;
  border-color: rgb(169, 187, 187);

}

.layout{
  height: 100vh;
  background-image:linear-gradient(
    to bottom, white, #ddebff,white
  )
}

.navbar-root{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  display: flex;
  gap: 25px;
  align-items: center;
  
}

.links-items{
  font-size: 15px;
  text-decoration: none;
  color: #040404;
}

.links-items:hover {
  color: rgb(119, 119, 119);
  transition: color 0.2s ease-out;
}

.btn{ 
  all: unset;
  background-color: oklch(62.3% 0.214 259.815);
  color: white;
  font-size:14px ;
  padding: 10px 14px;
  border-style: none;
  border-radius: 8px;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25) ;
  cursor: pointer;
}